html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.monaco-editor {
  margin-top: 50px;
}
.monaco-diff-editor .editor.original {
  margin-right: 32px; /* Adjust the value as needed */
}

.monaco-diff-editor .editor.modified {
  margin-left: 32px; /* Adjust the value as needed */
}


